/* 1. SCSS 변수 및 함수 임포트 (가장 먼저) */
@import '~/assets/scss/abstract/_funtions.scss';
@import '~/assets/scss/abstract/_variables.scss';
@import '~/assets/scss/common.scss';

/* 2. @font-face 선언 */
@font-face {
    font-family: 'Roman';
    src:
        url('../fonts/aboutUs_2.woff2') format('woff2'),
        url('../fonts/aboutUs_1.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/dm-sans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Happiness Sans';
    src: url('@/assets/fonts/Happiness-Sans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Happiness Sans';
    src: url('@/assets/fonts/Happiness-Sans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'Happiness Sans';
    src: url('@/assets/fonts/Happiness-Sans-Title.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard Variable';
    src: url('@/assets/fonts/PretendardVariable.woff2') format('woff2-variations');
    font-weight: 100 900; /* 가변 폰트 범위 */
    font-style: normal;
    font-display: swap;
}

/* 3. Tailwind 기본 스타일 주입 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .px-gutter { @apply px-4 md:px-8 lg:px-12; }              /* 가터 (좌우여백 공통)*/
  .container-wide { @apply mx-auto max-w-screen-2xl px-gutter; } /* 최대폭 + 가터 */

    /* 방향별 여백 */
  .pl-gutter { @apply pl-4 md:pl-8 lg:pl-12; }
  .pr-gutter { @apply pr-4 md:pr-8 lg:pr-12; }

   /* 이미지 풀블리드(컨테이너 밖으로 삐져나가게) */
  .bleed-left  { margin-left:  calc(50% - 50vw); }
  .bleed-right { margin-right: calc(50% - 50vw); }
}


.btn-primary {
    @apply inline-flex items-center justify-center rounded-xl bg-primary px-4 py-2 text-white transition hover:bg-blue-700;
}

/* 5. Tailwind 유틸리티 (항상 맨 마지막) */
/* 이 구문 뒤에는 다른 스타일을 정의하지 않는 것이 좋습니다. */
@tailwind utilities;
