@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~/assets/scss/abstract/_functions.scss';/* 1._functions 파일은 도구이므로 가장 먼저 가져옵니다. */
@import '~/assets/scss/abstract/_variables.scss';/* 1. _variables 파일은 도구이므로 가장 먼저 가져옵니다. */
@import '~/assets/scss/common.scss';/* 2. common 파일은 전역 스타일을 적용하므로 그 다음에 가져옵니다. */

/* 예: 공통 버튼 유틸 */
.btn-primary {
  @apply inline-flex items-center justify-center px-4 py-2 rounded-xl
         bg-primary text-white hover:bg-blue-700 transition;
}

@font-face {
    font-family: 'Roman';
    src: url('../fonts/aboutUs_2.woff2') format('woff2'), /* 실제 파일 경로로 수정 */
    url('../fonts/aboutUs_1.woff') format('woff');  /* 실제 파일 경로로 수정 */
    font-weight: 900; /* 예시 굵기 */
    font-style: normal;
    font-display: swap; /* 폰트 로딩 중 대체 폰트 표시 */
}

@font-face {
    font-family: 'DM Sans'; /* 폰트 이름 지정 */
    src: url('../fonts/dm-sans.woff2') format('woff2'); /* 폰트 파일 경로 */
    /* 필요에 따라 font-weight, font-style 등을 추가할 수 있습니다. */
    font-weight: normal; /* 예시 */
    font-style: normal;  /* 예시 */
    font-display: swap;
}